.trigger {
    background: white;
    border: 10px solid #f4f4f4;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.trigger:focus {
    outline: none;
}

.content {
    background: white;
    border: 10px solid #9b9b9b;
    padding: 10px;
    border-radius: 10px;
    max-width: 100vw;
}

.label {
    opacity: 0.5;
    text-align: center;
}

.item {
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
}

.item:hover {
    background: #f1f1f1;
}

.item:focus {
    outline: 1px solid #ccc;
}

.itemContent {
    margin-left: 10px;
    display: inline;
}