.title {
    text-align: center;
    font-family: Arvo;
    font-size: 5rem;
}

.subtitle {
    font-family: Roboto;
}

.patterns {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.patternBox {
    border-radius: 10px;
    flex: 100%;
    background: #d7a0f8;
    display: block;
    padding: 30px;
    color: white;
    aspect-ratio: 1 / 0.3;
    font-weight: bold;
    font-family: Arvo;
}
@media screen and (min-width:768px) {
    .patternBox {
        flex: calc(30% - 10px);
        aspect-ratio: 1 / 0.5;
    }
}

.patternBox a {
    text-decoration: none;
    color: white;
}

.description {
    opacity: 0.5;
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

.search {
    font-family: Arvo;
    font-size: 3rem;
    background: white;
    border: 10px solid #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
}

.search:focus {
    border-color: #f8f8f8;
    outline: 0;
}

.goBack { 
    border: 5px solid #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    color: white;
    position: absolute;
    top: 1rem;
    left: 1rem;
    cursor: pointer;
}

.urlpatternInput {
    width: 100%;
    background: white;
    border: 10px solid #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    font-family: monospace
}
.urlpatternInput:focus {
    outline: none;
    border-color: #f8f8f8;
}